<div class="container-fluid">
  <form [formGroup]="deviceForm" autocomplete="off" novalidate (ngSubmit)="createDevice(deviceForm.value)">
    <div class="form-horizontal well">
 
      <div class="form-group">
        <label for="name" class="control-label col-md-2">Device name: </label>
        <div class="col-md-5">
          <input type="text" formControlName="name" id="name" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('name') && hasError('name', 'required')">This property is required</em>
          <em *ngIf="validateControl('name') && hasError('name', 'maxlength')">Maximum allowed length is 50 characters.</em>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="control-label col-md-2">ProductType: </label>
        <div class="col-md-5">
          <input type="text" formControlName="ProductType" id="Origin" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('ProductType') && hasError('ProductType', 'required')">This property is required</em>
          <em *ngIf="validateControl('ProductType') && hasError('ProductType', 'maxlength')">Maximum allowed length is 50 characters.</em>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="control-label col-md-2">BranchName: </label>
        <div class="col-md-5">
          <input type="text" formControlName="BranchName" id="BranchName" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('BranchName') && hasError('BranchName', 'required')">This property is required</em>
          <em *ngIf="validateControl('BranchName') && hasError('BranchName', 'maxlength')">Maximum allowed length is 50 characters.</em>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="control-label col-md-2">Origin: </label>
        <div class="col-md-5">
          <input type="text" formControlName="Origin" id="Origin" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('Origin') && hasError('Origin', 'required')">This property is required</em>
          <em *ngIf="validateControl('Origin') && hasError('Origin', 'maxlength')">Maximum allowed length is 50 characters.</em>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="control-label col-md-2">QualityStatus: </label>
        <div class="col-md-5">
          <input type="text" formControlName="QualityStatus" id="QualityStatus" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('QualityStatus') && hasError('QualityStatus', 'required')">This property is required</em>
          <em *ngIf="validateControl('QualityStatus') && hasError('QualityStatus', 'maxlength')">Maximum allowed length is 50 characters.</em>
        </div>
      </div>

      
      <div class="form-group">
        <label for="name" class="control-label col-md-2">Quantity: </label>
        <div class="col-md-5">
          <input type="text" formControlName="Quantity" id="Quantity" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('Quantity') && hasError('Quantity', 'required')">This property is required</em>
          <em *ngIf="validateControl('Quantity') && hasError('Quantity', 'maxlength')">Maximum allowed length is 50 characters.</em>
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="control-label col-md-2">Recievied Day </label>
        <div class="col-md-5">
          <input type="text" formControlName="recievedDate" id="recievedDate" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('recievedDate') && hasError('recievedDate', 'required')">recievedDate is required</em>
          <em *ngIf="validateControl('recievedDate') && hasError('recievedDate', 'maxlength')">Maximum allowed length is 30 characters.</em>
        </div>
      </div>
 
      <div class="form-group">
        <label for="address" class="control-label col-md-2">Serial Number </label>
        <div class="col-md-5">
          <input type="text" formControlName="serialNumber" id="serialNumber" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('serialNumber') && hasError('serialNumber', 'required')">serialNumber is required</em>
          <em *ngIf="validateControl('serialNumber') && hasError('serialNumber', 'maxlength')">Maximum allowed length is 30 characters.</em>
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="control-label col-md-2">Owner Id </label>
        <div class="col-md-5">
          <input type="text" formControlName="ownerId" id="ownerId" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('ownerId') && hasError('ownerId', 'required')">ownerId is required</em>
          <em *ngIf="validateControl('ownerId') && hasError('ownerId', 'maxlength')">Maximum allowed length is 100 characters.</em>
        </div>
      </div>

      <div class="form-group">
        <label for="address" class="control-label col-md-2">Current Location </label>
        <div class="col-md-5">
          <input type="text" formControlName="currentLoca" id="currentLoca" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('currentLoca') && hasError('currentLoca', 'required')">Current Location  is required</em>
          <em *ngIf="validateControl('currentLoca') && hasError('currentLoca', 'maxlength')">Maximum allowed length is 100 characters.</em>
        </div>
      </div>


      <br><br>
 
      <div class="form-group">
          <div class="col-md-offset-5 col-md-1">
              <button type="submit" class="btn btn-info" [disabled]="!deviceForm.valid">Save</button>
          </div>
          <div class="col-md-1">
              <button type="button" class="btn btn-danger" (click)="redirectToDeviceList()">Cancel</button>
          </div>
      </div>
      
    </div>
  </form>
 
  <app-success-modal [modalHeaderText]="'Success message'" 
  [modalBodyText]="'Action completed successfully'" [okButtonText]="'OK'" 
  (redirectOnOK)="redirectToDeviceList()"></app-success-modal>
 
  <app-error-modal [modalHeaderText]="'Error message'" 
  [modalBodyText]="errorMessage" [okButtonText]="'OK'"></app-error-modal>
 
</div>